/*

body color = #1d293a
batton color =#354357 
writing color =#edf0f3
button hover = #6c63ff

*/

body {
	background-color: #1d293a;
	color: #edf0f3;
	font-family: sans-serif;
}

.button {
	background-color: #354357;
	text-align: center;
	padding: 1em;
	cursor: pointer;
}

.button:hover {
	background-color: #6c63ff;
}

.bold {
	font-weight: 900;
}

.thin {
	font-weight: 100;
}

#calculator_app {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
}

#calculator {
	font-size: 24px;
}

#screen {
	font-size: 36px;
	text-align: right;
}

ul {
	list-style-type: none;
}

#history {
	text-align: center;
}

ul {
	padding: 0px;
}

li {
	padding: 4px;
}